body {
  margin: 0;
}

.error-message {
  font-weight: bold;
  color: red;
}

a {
  list-style: none;
  color: black;
}

button {
  padding: 3px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 14px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background: #ffc52f;
  border-color: white;
  height: 25px;
}

label {
  width: 200px;
  display: block;
  font-size: 14px;
}

input,
textarea {
  width: 250px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

/* .Navbar {
  background: #515f7d;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}
 
.Navbar li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
} */

.card {
  width: 325px;
  padding: 10px;
  box-shadow: 0px 2px 3px #ffc52f;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
  background-image: linear-gradient(to top, #ffc52f, white );
  text-decoration: none;
}

.GamesListPage ul li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.UserActivity li {
  display: flex;
}

.card img {
  height: 300px;
}

.card a {
  text-decoration: none;
}

 .card:hover {
    background-image: linear-gradient(to bottom, #ffc52f, white );
    position: relative;
    top: -4px;
  }

.EditGamePage,
.AddGame,
.AddComment {
  background-image: linear-gradient(to bottom, #ffc52f, white);
  box-shadow: 0px 2px 3px white;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

/* .EditGamePage {
  background-color: rgb(239, 196, 88);
} */

.EditGamePage form,
.AddComment form,
.AddGame form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;
}

.SignupPage a,
.LoginPage a,
.SignupPage p,
.LoginPage p {
  font-size: 14px;
}

.AddComment button,
.AddGame button {
  display: block;
}

.CommentCard {
  background-color: #dfeef9;
}

.GamesListPage,
.UserProfile,
.GameDetails,
.EditGamePage,
.LoginPage,
.SignupPage {
  padding: 100px 0;
}
