/* -----DEFAULT THEME BEGIN----- */
/* -----FOOTER STYLING----- */
.Footer.Default-Theme {
  color: white;
  background-image: linear-gradient(to left, #4800ff, white);
}

.svgrepo-link.Default-Theme a,
.svgrepo-link.Default-Theme {
  color: red;
}

.theflanders-link.Default-Theme a,
.theflanders-link.Default-Theme {
  color: white;
}

/* -----BUTTON STYLING----- */
button.Default-Theme {
  color: white;
  background: silver;
  border-color: white;
}

button.Default-Theme:hover {
  background-color: gray;
}

/* -----NAVBAR STYLING----- */
.Navbar.Default-Theme {
  background-image: linear-gradient(to right, red, white);
  color: white;
  box-shadow: 0px 1px 2px gray;
}

.Navbar.Default-Theme li {
  color: white;
}

.nav-title.Default-Theme {
  color: white;
  border: 3px solid white;
}

.Navbar.Default-Theme button {
  color: silver;
  background: white;
  border-color: lightgray;
}

.Navbar.Default-Theme button:hover {
  color: red;
}

/* .bm-menu.Default-Theme {
  background: white;
}

.bm-burger-bars.Default-Theme {
  background: red;
}

.bm-cross.Default-Theme {
  background: red;
} */

/* -----CARD STYLING----- */
.card.Default-Theme {
  background-image: linear-gradient(to top, #4800ff, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.Default-Theme:hover {
  background-image: linear-gradient(to bottom, red, white);
}

.EditGamePage.Default-Theme,
.AddGame.Default-Theme,
.AddComment.Default-Theme {
  background-image: linear-gradient(to top, #4800ff, white);
  box-shadow: 0px 2px 3px white;
}
/* -----DEFAULT THEME END----- */

/* -----COTTON CANDY THEME BEGIN----- */
/* -----FOOTER STYLING----- */
.Footer.CottonCandy-Theme {
  color: white;
  background-image: linear-gradient(to left, #549ef7, white);
}

.svgrepo-link.CottonCandy-Theme a,
.svgrepo-link.CottonCandy-Theme {
  color: pink;
}

.theflanders-link.CottonCandy-Theme a,
.theflanders-link.CottonCandy-Theme {
  color: white;
}

/* -----BUTTON STYLING----- */
button.CottonCandy-Theme {
  color: white;
  background: silver;
  border-color: white;
}

button.CottonCandy-Theme:hover {
  background-color: gray;
}

/* -----NAVBAR STYLING----- */
.Navbar.CottonCandy-Theme {
  background-image: linear-gradient(to right, pink, white);
  color: white;
  box-shadow: 0px 1px 2px gray;
}

.Navbar.CottonCandy-Theme li {
  color: white;
}

.nav-title.CottonCandy-Theme {
  color: white;
  border: 3px solid white;
}

.Navbar.CottonCandy-Theme button {
  color: silver;
  background: white;
  border-color: lightgray;
}

.Navbar.CottonCandy-Theme button:hover {
  color: pink;
}

/* .bm-menu.CottonCandy-Theme {
  background: white;
}

.bm-burger-bars.CottonCandy-Theme {
  background: pink;
}

.bm-cross.CottonCandy-Theme {
  background: pink;
} */

/* -----CARD STYLING----- */
.card.CottonCandy-Theme {
  background-image: linear-gradient(to top, #549ef7, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.CottonCandy-Theme:hover {
  background-image: linear-gradient(to bottom, pink, white);
}

.EditGamePage.CottonCandy-Theme,
.AddGame.CottonCandy-Theme,
.AddComment.CottonCandy-Theme {
  background-image: linear-gradient(to top, #549ef7, white);
  box-shadow: 0px 2px 3px white;
}
/* -----COTTON CANDY THEME END----- */

/* -----MUNICH RAVENS THEME BEGIN----- */
/* -----FOOTER STYLING----- */
.Footer.MunichRavens-Theme {
  color: white;
  background-image: linear-gradient(to left, #549ef7, white);
}

.svgrepo-link.MunichRavens-Theme a,
.svgrepo-link.MunichRavens-Theme {
  color: black;
}

.theflanders-link.MunichRavens-Theme a,
.theflanders-link.MunichRavens-Theme {
  color: white;
}

/* -----BUTTON STYLING----- */
button.MunichRavens-Theme {
  color: white;
  font-weight: bold;
  background: silver;
  border-color: white;
}

button.MunichRavens-Theme:hover {
  background-color: gray;
}

/* -----NAVBAR STYLING----- */
.Navbar.MunichRavens-Theme {
  background-image: linear-gradient(to right, black, white);
  color: white;
  box-shadow: 0px 1px 2px gray;
}

.Navbar.MunichRavens-Theme li {
  color: white;
}

.nav-title.MunichRavens-Theme {
  color: white;
  border: 3px solid white;
}

.Navbar.MunichRavens-Theme button {
  color: silver;
  background: white;
  border-color: lightgray;
}

.Navbar.MunichRavens-Theme button:hover {
  color: black;
}

/* .bm-menu.MunichRavens-Theme {
  background: white;
}

.bm-burger-bars.MunichRavens-Theme {
  background: black;
}

.bm-cross.MunichRavens-Theme {
  background: black;
} */

/* -----CARD STYLING----- */
.card.MunichRavens-Theme {
  background-image: linear-gradient(to top, #549ef7, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.MunichRavens-Theme:hover {
  background-image: linear-gradient(to bottom, black, white);
}

.EditGamePage.MunichRavens-Theme,
.AddGame.MunichRavens-Theme,
.AddComment.MunichRavens-Theme {
  background-image: linear-gradient(to top, #549ef7, white);
  box-shadow: 0px 2px 3px white;
}
/* -----MUNICH RAVENS THEME END----- */

/* -----FADED FOREST THEME BEGIN----- */
/* -----FOOTER STYLING----- */
.Footer.FadedForest-Theme {
  color: white;
  background-image: linear-gradient(to left, #ccd5ae, white);
}

.svgrepo-link.FadedForest-Theme a,
.svgrepo-link.FadedForest-Theme {
  color: #d4a373;
}

.theflanders-link.FadedForest-Theme a,
.theflanders-link.FadedForest-Theme {
  color: white;
}

/* -----BUTTON STYLING----- */
button.FadedForest-Theme {
  color: white;
  font-weight: bold;
  background: silver;
  border-color: white;
}

button.FadedForest-Theme:hover {
  background-color: gray;
}

/* -----NAVBAR STYLING----- */
.Navbar.FadedForest-Theme {
  background-image: linear-gradient(to right, #d4a373, white);
  color: white;
  box-shadow: 0px 1px 2px gray;
}

.Navbar.FadedForest-Theme li {
  color: white;
}

.nav-title.FadedForest-Theme {
  color: white;
  border: 3px solid white;
}

.Navbar.FadedForest-Theme button {
  color: silver;
  background: white;
  border-color: lightgray;
}

.Navbar.FadedForest-Theme button:hover {
  color: #d4a373;
}

/* .bm-menu.FadedForest-Theme {
  background: white;
}

.bm-burger-bars.FadedForest-Theme {
  background: #d4a373;
}

.bm-cross.FadedForest-Theme {
  background: #d4a373;
} */

/* -----CARD STYLING----- */
.card.FadedForest-Theme {
  background-image: linear-gradient(to top, #ccd5ae, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.FadedForest-Theme:hover {
  background-image: linear-gradient(to bottom, #d4a373, white);
}

.EditGamePage.FadedForest-Theme,
.AddGame.FadedForest-Theme,
.AddComment.FadedForest-Theme {
  background-image: linear-gradient(to top, #ccd5ae, white);
  box-shadow: 0px 2px 3px white;
}
/* -----FADED FOREST THEME END----- */